<!DOCTYPE html>
<html>

<head>
  <title>Login Here</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/layout.css">
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=315b9fde-4c81-4d55-a862-8513d7e0f28b"
    defer></script>
  <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" defer></script>
  <script src="/js/map.js" defer>
  </script>
</head>
<div class="header">
  <div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="#">Домой</a></li>
            <li><a href="#">Карта</a></li>
            <li><a href="#">Условия</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="info">
   БРОНИРОВАНИЕ ДО 15:00
  </div>
</div>

<body class="container">
  {{{body}}}
</body>

</html>
