
<script src="/js/logicParking.js" defer></script>

{{#if error}}
<p>{{error}}</p>
{{/if}}

<div class="container">
  <div class="container-form">
    <h1> Добавить парковку </h1>
    <div class="jumbotron col-sm-4 pull-center">
      {{#if message }}
      <span>{{message}}</span>
      {{/if}}
      <form id="newparking" method="post">

        <div>
          <input type="text" name="name" class="inpt" placeholder="Название" required />
        </div>

        <div>
          <input type="text" name="position" class="inpt" placeholder="Местоположение" required />
        </div>

        <div>
          <input type="text" name="description" class="inpt" placeholder="Описание" required />
        </div>


        <div>
          <input type="text" name="countAll" class="inpt" placeholder="парковочных мест" required />
        </div>

        <div>
          <input type="text" name="price" class="inpt" placeholder="цена за час" required />
        </div>

        <div>
          <div class="btnLinks">
            <div>
              <input class="btn" type="submit" value="ДОБАВИТЬ" />
            </div>
            <div id="signUpLink">
              <a class="link" href="/org/dashboard">ДОМОЙ</a>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>

