<div>
    <div class="container-form">
        <h1>Список парковок</h1>
    </div>
    <div class="list">
        <ul>
            {{#each parking}}
            <li><a class="link dblFontSize" href="/org/{{this.id}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
    </div>
    <div>
        <a class="btn" href="/org/newParking">Создать новую парковку</a>
    </div>
</div>
