/* CORE STYLES */

:root {
  --primary-color: #19BB4F;
  --overlay-color: rgba(25, 39, 51, 0.85);
  --menu-speed: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

head {
  position: relative;
}

.container {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.container-form {
  max-width: 250px;
  color: #303030
}

h1 {
  margin: 1rem 0;
  color: #404040;

}

.inpt {
  width: 100%;
  border-radius: 4px;
  border: solid 2px grey;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  outline: none;
  color: #404040;
  font-size: 1.25rem;
  box-shadow: 0px 8px 15px rgba(5, 5, 5, 0.05);
}

.inpt:focus {
  border: solid 2px var(--primary-color);
}

.btnLinks {
  cursor: pointer;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.header-btnLinks{
  justify-content: space-evenly;
}

#signUpLink {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
}

.header-link {
  color: white;
  font-size: 1rem;
}

.showcase {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: '';
  background: url('https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
  font-size: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  opacity: 0.7;
}

/* MENU STYLES Поменять posittion на fixed, чтобы открепить бургер меню от headera */

.menu-wrap {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */

.menu-wrap .hamburger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: 3px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */

.menu-wrap .hamburger>div::before, .menu-wrap .hamburger>div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}

/* Moves Line Down */

.menu-wrap .hamburger>div::after {
  top: 10px;
}

/* Toggler Animation */

.menu-wrap .toggler:checked+.hamburger>div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */

.menu-wrap .toggler:checked+.hamburger>div:before, .menu-wrap .toggler:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */

.menu-wrap .toggler:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

/* Show Menu */

.menu-wrap .toggler:checked~.menu {
  visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
  opacity: 1;
  transition: opacity 0.2s ease 0.2s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu>div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menu-wrap .menu>div>div>ul>li {
  list-style: none;
  color: #fff;
  font-size: 7rem;
  padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.header {
  height: 65px;
  background-color: #19BB4F;
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 2;
}

.info {
  color: white;
  width: 360px;
  font-size: 2rem;
  margin-right: 1rem;
}

.header-btn {
  color: white;
  border: white solid 2px;
}
.mapBtn{
  justify-self: right;
  float: right
}

ul{
  list-style-type: none;
  color: #404040;

}

.dblFontSize{
  font-size: 1.5rem;
}

.list{
  margin: 1rem 0;
}
.bcRed{
  background-color: red;
}
